<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="theme.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="controller" ng-app="app">
  <nav class="navbar-fixed-top navbar navbar-full ">
    <a class="navbar-brand" href="./"><img height=" alt=" src="logo.png" class="center-block img-fluid" style="width:630;"></a>
    <ul class="lead m-t-1 nav navbar-nav pull-right">
      <li class="nav-item ">
        <a class=" nav-link" href="progetti.html">Progetti</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="brands.html">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="servizi.html">Servizi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contatti.html">Contatti</a>
      </li>
    </ul>
  </nav>

  <div class="bg-faded section section-opaque-light text-xs-center">
    <div class="container-fluid">
      <div class="row b-b">
        <div class="b-r col-md-6 p-y-2 text-xs-center">
          <h1 class="display-3 m-y-2">Moderni</h1>
          <br>
          <a ng-href="{{m.desc}}" ng-repeat="m in moderni"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
        </div>
        <div class="col-md-6 p-y-2 text-xs-center">
          <h1 class="display-3 m-t-2">Classici</h1>
          <br>
          <a ng-href="{{m.desc}}" ng-repeat="m in classici"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row b-b">
          <div class="b-r col-md-6 p-y-2 text-xs-center">
            <h1 class="display-3 m-y-2">Fashion</h1>
            <br>
            <a ng-href="{{m.desc}}" ng-repeat="m in fashion"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
          </div>
          <div class="col-md-6 p-y-2 text-xs-center">
            <h1 class="display-3 m-t-2">Outdoor</h1>
            <br>
            <a ng-repeat="m in outdoor" ng-href="{{m.desc}}"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
          </div>
        </div>
      </div>
      <div class="row b-b">
        <div class="b-r col-md-6 p-y-2 text-xs-center">
          <h1 class="display-3 m-y-2">Lights</h1>
          <br>
          <a ng-repeat="m in lights" ng-href="{{m.desc}}"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
        </div>
        <div class="col-md-6 p-y-2 text-xs-center">
          <h1 class="display-3 m-y-2">Fabrics, Rugs, Bedding and Objects</h1>
          <br>
          <a ng-repeat="m in fabrics" ng-href="{{m.desc}}"><img class=" loghi m-a-2" src="{{m.attachments[0].url}}"></a>
        </div>
      </div>
    </div>
    <div class="section" id="images">
      <div class="container-fluid"></div>
    </div>
    <nav class="navbar navbar-full text-xs-center">
      <span class="navbar-text">GoConcept s.r.l - Sede operativa : Via Niccolo Copernico - Sede legale:
                    Via Orio Vegani 9 - 20125 Milano</span>
      <ul class="nav navbar-nav pull-right"></ul>
    </nav>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript">
      var myApp = angular.module('app',[]);
                                                                              
                                                                                    myApp.controller('controller', ['$scope', '$http', function($scope, $http) {
                                                                              
                                                                              
                                                                                      $scope.moderni = [];
                                                                                      $scope.classici = [];
                                                                                      $scope.fashion = [];
                                                                                      $scope.outdoor = [];        
                                                                                      $scope.lights = [];
                                                                                      $scope.objects = []; 
                                                                                      $scope.fabrics = [];
                                                                                      
                                                                                      $http({
                                                                                        method: 'GET',
                                                                                        url: 'data.json'
                                                                                      }).then(function successCallback(response) {
                                                                                        $scope.model = response;
                                                                              
                                                                                        // make some fixes on the model coming from trello
                                                                                        $($scope.model.data.cards).each(function() {
                                                                                          var card = this;
                                                                              
                                                                                          if (card.idList == "5717c11e0ff6f2ed44b845c7") {
                                                                                            console.log(card); 
                                                                                            $scope.moderni.push(card);
                                                                                          }
                                                                              
                                                                                           if (card.name == "Rubelli")
                                                                                             console.log("--" , card.idList);
                                                                              
                                                                                          if (card.idList == "571c941f0dd3099f7cf996fd") {
                                                                                            $scope.classici.push(card);
                                                                                          }
                                                                                          
                                                                                          if (card.idList == "571c9750fd579613b77e80cf") {
                                                                                            $scope.fashion.push(card);
                                                                                          }
                                                                                          
                                                                                           if (card.idList == "571c9903308ef77c6563fffe") {
                                                                                            $scope.outdoor.push(card);
                                                                                          }
                                                                                          
                                                                                            if (card.idList == "571c99152fac2b9f94e1adf7") {
                                                                                            $scope.objects.push(card);
                                                                                          }
                                                                                          
                                                                                           if (card.idList == "571c9908be4ba3bef1d5680e") {
                                                                                            $scope.lights.push(card);
                                                                                          }
                                                                                          
                                                                                          if (card.idList == "571c992188cd6ac95e38beab") {
                                                                                            $scope.fabrics.push(card);
                                                                                          }
                                                                                          
                                                                                          
                                                                              
                                                                                        });
                                                                              
                                                                                      }, function errorCallback(response) {
                                                                                      });
                                                                              
                                                                                      $scope.gotoProject = function(p) {
                                                                                        document.location = "progetto.html?" + p.name +"&"+ p.id  ;
                                                                                      }
                                                                              
                                                                                    }]);
    </script>
  </div>




</body>

</html>