<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="theme.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="controller" ng-app="app">
  <nav class="navbar-fixed-top navbar navbar-full">
    <a class="navbar-brand"><img height=" alt=" src="logo.png" class="center-block img-fluid" style="width:630;"></a>
    <ul class="nav navbar-nav pull-right m-t-1">
      <li class="nav-item active">
        <a class="active nav-link" href="progetti.html">Progetti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="brands.html">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="servizi.html">Servizi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contatti.html">Contatti</a>
      </li>
    </ul>
  </nav>
  <div class="section" id="images">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 p-a-0" id="trello" ng-repeat="p in projects">
          <div class="carousel faded slide" data-interval="false" data-ride="carousel" id="carousel-example" ng-click="gotoProject(p)">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="img-fluid" src="{{p.attachments[0].previews[5].url}}">
                <div class="carousel-caption">
                  <a class="btn btn-info-outline">{{p.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-full text-xs-center">
    <span class="navbar-text">GoConcept s.r.l - Sede operativa : Via Niccolo Copernico - Sede legale:
                Via Orio Vegani 9 - 20125 Milano</span>
    <ul class="nav navbar-nav pull-right"></ul>
  </nav>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript">
    var myApp = angular.module('app',[]);
                
                    myApp.controller('controller', ['$scope', '$http', function($scope, $http) {
                
                
                    $scope.searchTags = [];
                    $http({
                      method: 'GET',
                      url: 'data.json'
                    }).then(function successCallback(response) {
                      $scope.model = response;
                      $scope.projects = [];
                      // make some fixes on the model coming from trello
                      $($scope.model.data.cards).each(function() {
                        var card = this;
                
                        if (card.idList != "570bdf4d121b9e739d74fece")
                          return;
                
                        $scope.projects.push(card);
                        console.log(card);
                      });
                
                    }, function errorCallback(response) {
                    });
                
                    $scope.gotoProject = function(p) {
                      document.location = "progetto.html?" + p.name +"&"+ p.id  ;
                    }
                
                }]);
  </script>




</body>

</html>